<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head"></head>

<body class="dark-edition">
	<div class="wrapper ">
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8">
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title">Cadastro</h4>
									<p class="card-category">Complete os seus dados</p>
								</div>
								<div class="card-body">
									<form th:action="@{/cadastrar}" method="post" th:object="${usuario}" id="formCadastrar">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="bmd-label-floating">Nome</label> 
													<input type="text" class="form-control" th:field="*{nome}">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="bmd-label-floating">Sobrenome</label> 
													<input type="text" class="form-control" th:field="*{sobrenome}">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="bmd-label-floating">Email</label> 
													<input type="text" class="form-control" th:field="*{email}">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="bmd-label-floating">Senha</label> 
													<input type="password" class="form-control" th:field="*{senha}">
												</div>
											</div>
										</div>
										<button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
										<button type="reset" class="btn btn-primary pull-right">Limpar</button>
										<a th:href="@{/}" class="btn btn-link pull-right">Voltar</a>
										<div class="clearfix"></div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--   Core JS Files   -->
	<div th:replace="layout/scripts"></div>
</body>
</html>