<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head"></head>

<body class="dark-edition">
	<div class="wrapper ">
		<div th:replace="layout/menuLateral"></div>
		<div class="main-panel">
			<!-- Navbar -->
			<nav th:replace="layout/menuSuperior"></nav>
			<!-- End Navbar -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title">Cadastrar evento</h4>
								</div>
								<div class="card-body">
									<div class="alert alert-danger alert-dismissible js-alert-fadeout" th:if="${mensagem} != null" role="alert">
							        	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        	<span th:text="${mensagemErro}"></span>
							        </div>
							        <div class="alert alert-success alert-dismissible js-alert-fadeout" th:if="${mensagemSucesso} != null" role="alert">
							        	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        	<span th:text="${mensagemSucesso}"></span>
							        </div>
									<form th:action="@{/eventos}" method="post" th:object="${evento}" id="formEvento">
										<div class="row">
											<div class="col-md-5">
												<div class="form-group">
													<label for="nome" class="bmd-label-floating">Nome</label> 
													<input type="text" name="nome" id="nome" class="form-control" th:field="*{nome}">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label class="bmd-label-floating">Email de contato</label> 
													<input type="email" class="form-control" th:field="*{emailResponsavel}">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="dataEvento" class="bmd-label-floating">Data</label>
													<div class="input-group data" data-type="datetime">
														<input type="date" class="form-control js-datepicker" name="dataEvento" 
															id="dataEvento" placeholder="dd/mm/aaaa" th:field="*{dataEvento}" />	 
														<span class="input-group-addon">
															<i class="material-icons md">event</i>
														</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="bmd-label-floating">Descrição</label> 
													<textarea class="form-control" rows="3" th:field="*{descricaoEvento}"></textarea>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-2">
												<div class="form-group">
													<label for="selectTipoEvento" class="bmd-label-floating">Tipo Evento</label>
													<select class="form-control" name="tipoEvento" >
												  		<option th:each="tipoEvento : ${tiposEventos}" th:value="${tipoEvento.id}" th:text="${tipoEvento.descricaoTipo}">Selecione...</option>
												  	</select>												  	
												</div>
											</div>
										</div>
										<div class="row">	
											<div class="col-md-3">
												<div class="form-group">
													<label class="bmd-label-floating">Cidade</label> 
													<input type="text" class="form-control" th:field="*{endereco.cidade}">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="bmd-label-floating">Bairro</label> 
													<input type="text" class="form-control" th:field="*{endereco.bairro}">
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<label class="bmd-label-floating">Rua</label> <input
														type="text" class="form-control" th:field="*{endereco.rua}">
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<label class="bmd-label-floating">Numero</label> <input
														type="text" class="form-control" th:field="*{endereco.numero}">
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<label class="bmd-label-floating">Cep</label> <input
														type="text" class="form-control" th:field="*{endereco.cep}">
												</div>
											</div>
										</div>
										<button type="submit" class="btn btn-primary pull-right">Cadastrar Evento</button>
										<button type="reset" class="btn btn-primary pull-right">Limpar</button>
										<div class="clearfix"></div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer th:replace="layout/footer"></footer>
		</div>
	</div>
	<!--   Core JS Files   -->
	<div th:replace="layout/scripts"></div>
</body>
</html>